{% include "head.html" %}
<div>
    <div class="float-right mx-5 mb-5 bg-red-800 text-white shadow-lg rounded-md p-5 max-w-md">
        <h2 class="font-semibold text-2xl">Cite</h2>
        <p>Arora, Aryaman and Farris, Adam. 2021. <em>Jambu</em>. Washington: Georgetown University.</p>
    </div>
    <h1 class="font-semibold text-4xl">Welcome to <em>Jambu</em></h1>
    <p class="font-light text-xl mt-3"><strong>Jambu</strong> [i.e. the Indian blackberry, jāmun, <em>Syzygium cumini</em>] is an online etymological dictionary of Indo-Aryan languages, meant to be a modern continuation of Ralph Lilley Turner's <em>Comparative Dictionary of the Indo-Aryan Languages</em> augmented with new data.</p>
    <p class="mt-3">The app is currently in development mode (it's a bit rough around the edges!) but should be fully functional, and the entire CDIAL is incorprated (albeit with some issues due to transcription errors in its parsing at the University of Chicago).</p>
    <p class="mt-3">All credit for the data in this app goes to the creators, which each lexicon entry references. Some of this data is still in copyright; I do not intend to make money off of this, it's purely for use by linguistics researchers and language hobbyists, so please do not sue me.</p>
</div>
<div>
    <h2 class="font-semibold text-2xl mt-5">Works included</h2>
    <ul class="list-disc list-inside">
        <li>Ralph Lilley Turner. 1962–1966. <em>A comparative dictionary of the Indo-Aryan languages</em>. Oxford University Press.</li>
        <li>Liljegren, Henrik. 2019. <em>Palula dictionary</em>. Dictionaria. 1-2700. Jena: Max Planck Institute for the Science of Human History.</li>
        <li>Aryaman Arora. 2020–2021. <em>Kholosi Dictionary</em>.</li>
        <li>Hukam Chand Patyal. 1982. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies II). <em>Indo-Iranian Journal</em> 24. 289–294. Brill.</li>
        <li>Hukam Chand Patyal. 1991. Etymological notes on some Ḍogri words (Indo-Aryan Studies III). <em>Indo-Iranian Journal</em> 34. 123–124. Brill.</li>
        <li>Hukam Chand Patyal. 1983. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies IV). <em>Indo-Iranian Journal</em> 25. 41–49. Brill.</li>
        <li>Hukam Chand Patyal. 1984. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies V). <em>Indo-Iranian Journal</em> 27. 121–132. Brill.</li>
        <li>Hukam Chand Patyal. 1984. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies V). <em>Indo-Iranian Journal</em> 27. 121–132. Brill.</li>
        <li>Strand, Richard F. 1997–2021. <em>Nuristân: Hidden Land of the Hindu-Kush</em>.</li>
    </ul>
    <h3 class="font-semibold text-xl mt-2">Partial</h3>
    <ul class="list-disc list-inside">
        <li>Bhawnani, Murli D. 1979. <em>Descriptive analysis of Thari: A dialect of Sindhi language</em>. (Doctoral dissertation, Deccan College Post Graduate and Research Institute Pune).</li>
    </ul>
</div>
{% include "foot.html" %}