{% include "head.html" %}
<h1 class="text-4xl">
    <span class="font-semibold">{{ langs[lang][1] }}</span> vs. <span class="font-semibold">{{ langs[lang2][1] }}</span> ({{both | length}} matches)
</h1>
{% if lang %}
<div class="flex mt-8 w-full">
<div class="m-1 w-1/3">
    <div class="rounded shadow" style="width: 100%; height: 250px;" id="map">
    </div>
</div>
<div class="rounded shadow p-2 m-1 w-1/3">
    <h2 class="font-semibold text-xl">{{ langs[lang][1] }}</h2>
    <h2 class="font-thin">Family</h2>
    <p class="border-l-4 pl-4">{{ langs[lang][5] }}</p>
    <h2 class="font-thin mt-1">Glottolog</h2>
    <p class="border-l-4 pl-4"><a href="https://glottolog.org/resource/languoid/id/{{ langs[lang][2] }}">{{ langs[lang][2] }}</a></p>
    <h2 class="font-thin mt-1">Coordinates</h2>
    <p class="border-l-4 pl-4">{{ langs[lang][4] }}, {{ langs[lang][3] }}</p>
    <h2 class="font-thin mt-1">Reflexes</h2>
    <p class="border-l-4 pl-4">{{ langs[lang][6] }}</p>
</div>
<div class="rounded shadow p-2 m-1 w-1/3">
    <h2 class="font-semibold text-xl">{{ langs[lang2][1] }}</h2>
    <h2 class="font-thin">Family</h2>
    <p class="border-l-4 pl-4">{{ langs[lang2][5] }}</p>
    <h2 class="font-thin mt-1">Glottolog</h2>
    <p class="border-l-4 pl-4"><a href="https://glottolog.org/resource/languoid/id/{{ langs[lang2][2] }}">{{ langs[lang2][2] }}</a></p>
    <h2 class="font-thin mt-1">Coordinates</h2>
    <p class="border-l-4 pl-4">{{ langs[lang2][4] }}, {{ langs[lang2][3] }}</p>
    <h2 class="font-thin mt-1">Reflexes</h2>
    <p class="border-l-4 pl-4">{{ langs[lang2][6] }}</p>
</div>
</div>
{% endif %}
<div class="mt-5">
    <div class="table w-full">
        {% for key in both %}
        <div class="table-row">
            <div class="table-cell w-1/3">
                <div class="m-1">
                    <a class="text-red-700 hover:text-red-900" href="/entries/{{ key }}">{{ lang_dict[key][0][10] }}</a> <span class="font-thin">[{{ key }}]</span>
                </div>
            </div>
            <div class="table-cell w-1/3 h-full">
                <div class="m-1 h-full rounded shadow border-l-4 flex hover:shadow-lg hover:bg-gray-50" style="border-color: #{{ colors[langs[lang][5]] }};">
                    <div class="p-1 w-full pl-2">
                        {% for entry in lang_dict[key] %}
                            <p><a class="text-red-700 hover:text-red-900" href="/reflexes/{{ entry[0] }}">{{ entry[3] }}</a>{% if entry[4] %} <span class="text-gray-400">‘&#8288;{{ entry[4] }}&#8288;’</span>{% endif %}{% if entry[6] %} <span class="text-gray-400">/&#8288;{{ entry[6] }}&#8288;/</span>{% endif %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="table-cell w-1/3 h-full">
                <div class="m-1 h-full rounded shadow border-l-4 flex hover:shadow-lg hover:bg-gray-50" style="border-color: #{{ colors[langs[lang2][5]] }};">
                    <div class="p-1 w-full pl-2">
                        {% for entry in lang2_dict[key] %}
                            <p><a class="text-red-700 hover:text-red-900" href="/reflexes/{{ entry[0] }}">{{ entry[3] }}</a>{% if entry[4] %} <span class="text-gray-400">‘&#8288;{{ entry[4] }}&#8288;’</span>{% endif %}{% if entry[6] %} <span class="text-gray-400">/&#8288;{{ entry[6] }}&#8288;/</span>{% endif %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
var map = L.map('map').setView([({{ langs[lang][4] }} + {{ langs[lang2][4] }}) / 2, ({{ langs[lang][3] }} + {{ langs[lang2][3] }}) / 2], 2);

L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service',
	maxZoom: 8
}).addTo(map)
var iconSvg = `{{ langs[lang][7] | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ langs[lang][4] }}, {{ langs[lang][3] }}], {icon: icon}).bindTooltip("<strong>{{ langs[lang][1] }}</strong>").openTooltip().addTo(map)
var iconSvg = `{{ langs[lang2][7] | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ langs[lang2][4] }}, {{ langs[lang2][3] }}], {icon: icon}).bindTooltip("<strong>{{ langs[lang2][1] }}</strong>").openTooltip().addTo(map)
</script>
{% include "foot.html" %}