{% include "head.html" %}
<h1>
    <span>{{ lang1.name }}</span> <span class="font-thin">vs.</span> <span>{{ lang2.name }}</span> <span class="font-thin">({{count}} matches)</span>
</h1>
{% if lang1 %}
<div class="lang-box">
<div style="width: 33%;">
    <div style="width: 100%; height: 250px;" id="map">
    </div>
</div>
<div style="width: 33%;">
    <h2>{{ lang1.name }}</h2>
    <div class="grid" style="margin-top: 0;">
        <div class="grid-row">
            <p>Family</p>
            <p>{{ lang1.clade }}</p>
        </div>
        <div class="grid-row">
            <p>Glottolog</p>
            <p><a href="https://glottolog.org/resource/languoid/id/{{ lang1.glottocode }}">{{ lang1.glottocode }}</a></p>
        </div>
        <div class="grid-row">
            <p>Coordinates</p>
            <p>{{ lang1.lat }}, {{ lang1.long }}</p>
        </div>
        <div class="grid-row">
            <p>Reflexes</p>
            <p>{{ lang1.lemma_count }} <span class="muted">({{ '%.2f' % ((count / lang1.lemma_count) * 100) }}%)</span></p>
        </div>
    </div>
</div>
<div style="width: 33%;">
    <h2>{{ lang2.name }}</h2>
    <div class="grid" style="margin-top: 0;">
        <div class="grid-row">
            <p>Family</p>
            <p>{{ lang2.clade }}</p>
        </div>
        <div class="grid-row">
            <p>Glottolog</p>
            <p><a href="https://glottolog.org/resource/languoid/id/{{ lang2.glottocode }}">{{ lang2.glottocode }}</a></p>
        </div>
        <div class="grid-row">
            <p>Coordinates</p>
            <p>{{ lang2.lat }}, {{ lang2.long }}</p>
        </div>
        <div class="grid-row">
            <p>Reflexes</p>
            <p>{{ lang2.lemma_count }} <span class="muted">({{ '%.2f' % ((count / lang2.lemma_count) * 100) }}%)</span></p>
        </div>
    </div>
</div>
</div>
{% endif %}
<div class="mt-5">
    <div class="grid">
        {% for key in both %}
        <div class="grid-row">
            <p><a href="/entries/{{ key }}">{{ lang_dict[key][0].origin_lemma.word }} <span class="font-thin">[{{ key }}]</a></p>
            <div>
                {% for entry in lang_dict[key] %}
                    <p><a href="/reflexes/{{ entry.id }}">{{ entry.word }}</a>{% if entry.gloss %} <span class="muted">‘&#8288;{{ entry.gloss | striptags }}&#8288;’</span>{% endif %}{% if entry.phonemic %} <span class="muted">/&#8288;{{ entry.phonemic }}&#8288;/</span>{% endif %}</p>
                {% endfor %}
            </div>
            <div>
                {% for entry in lang2_dict[key] %}
                    <p><a href="/reflexes/{{ entry.id }}">{{ entry.word }}</a>{% if entry.gloss %} <span class="muted">‘&#8288;{{ entry.gloss | striptags }}&#8288;’</span>{% endif %}{% if entry.phonemic %} <span class="muted">/&#8288;{{ entry.phonemic }}&#8288;/</span>{% endif %}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
var map = L.map('map').setView([({{ lang1.lat }} + {{ lang2.lat }}) / 2, ({{ lang1.long }} + {{ lang2.long }}) / 2], 2);

L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service',
	maxZoom: 8
}).addTo(map)
var iconSvg = `{{ lang1.map_marker | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ lang1.lat }}, {{ lang1.long }}], {icon: icon}).bindTooltip("<strong>{{ lang1.name }}</strong>").openTooltip().addTo(map)
var iconSvg = `{{ lang2.map_marker | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ lang2.lat }}, {{ lang2.long }}], {icon: icon}).bindTooltip("<strong>{{ lang2.name }}</strong>").openTooltip().addTo(map)
</script>
{% include "foot.html" %}