{% include "head.html" %}
<h1 class="text-4xl font-semibold">
    <a href="/languages/{{ entry.language.id }}" class="font-light">{{ entry.language.name }}</a> {{ entry.word }} <span class="muted font-thin">[{{ entry.id }}]</span>
</h1>
<div class="description">
    <p>{{ entry.gloss | safe }}</p>
    {% if entry.clades %}
    <div class="clades">
        {% for clade in order %}<div class="clade-block-lg" title="{{ clade }}"{% if clade in entry.clades %}style="background-color: #{{ colors[clade] }};"{% endif %}></div>{% endfor %}
    </div>
    {% endif %}
    {% if entry.notes %}
    <h3>Etymological notes</h3>
    <p>{{ entry.notes | markdown | safe }}</p>
    {% endif %}
</div>
<div class="map">
    <div class="rounded shadow" style="width: 100%; height: 500px;" id="map">
    </div>
</div>
<table>
    <thead>
        <tr class="grid-row">
            <th><input type="text" class="search-box language-filter" placeholder="Language" value="{{ request.args.get('lang', '') }}"></th>
            <th><input type="text" class="search-box entry-name-filter" placeholder="Entry" value="{{ request.args.get('entry_name', '') }}"></th>
            <th><input type="text" class="search-box gloss-filter" placeholder="Gloss" value="{{ request.args.get('gloss', '') }}"></th>
            <th><input type="text" class="search-box notes-filter" placeholder="Notes" value="{{ request.args.get('notes', '') }}"></th>
            <th><input type="text" class="search-box source-filter" placeholder="Source" value="{{ request.args.get('source', '') }}"></th>
        </tr>
    </thead>
    {% for lang, reflexes in reflexes.items() %}
    <tr class="grid-row" style="border-color: #{{ reflexes[0].language.color }};">
        <td><a href="/languages/{{ lang }}">{{ reflexes[0].language.name }}</a></td>
        <td>
            {% for reflex in reflexes %}
            <p><a href="/reflexes/{{ reflex.id }}">{{ reflex.word }}</a>{% if reflex.phonemic %} <span class="muted">/&#8288;{{ reflex.phonemic }}&#8288;/</span>{% endif %}</p>
            {% endfor %}
        </td>
        <td class="muted">
            {% for reflex in reflexes %}
            <p>{% if reflex.gloss %} {{ reflex.gloss | safe}}{% endif %}</p>
            {% endfor %}
        </td>
        <td class="muted">
            {% for reflex in reflexes %}
            <p>{% if reflex.notes %}{{ reflex.notes | markdown | safe}}{% endif %}</p>
            {% endfor %}
        </td>
        <td>
            {% for reflex in reflexes %}
            <p>{{ reflex.references | join(', ') | safe }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
<script>
var map = L.map('map').setView([20.5937, 78.9629], 4);

L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service',
	maxZoom: 8
}).addTo(map)
{% for lang, reflexes in reflexes.items() %}
var iconSvg = `{{ reflexes[0].language.to_map_marker() | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ reflexes[0].language.lat }}, {{ reflexes[0].language.long }}], {icon: icon}).bindTooltip("<strong>{{ reflexes[0].language.name }}</strong><br>{% for reflex in reflexes %}{% if loop.index != 1 %}, {% endif %}{{ reflex.word | safe }}{% endfor %}").openTooltip().addTo(map)
{% endfor %}
</script>
{% include "foot.html" %}