{% include "head.html" %}
<h1 class="text-4xl font-semibold">Entries</h1>
<div class="mt-8">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for entry in entries %}
        <a class="m-1" href="/entries/{{ entry[0] }}">
        <div class="relative h-full w-full shadow rounded p-2 pl-3 border-l-4 hover:shadow-lg transition">
            <div class="absolute top-0 right-0 text-sm">
                {% for clade in order %}<div class="clade-block" title="{{ clade }}"{% if clade in entry[4] %}style="background-color: #{{ colors[clade] }};"{% endif %}></div>{% endfor %}
            </div>
            <p>{{ entry[1] }} <span class="font-thin">[{{ entry[0] }}]</span></p>
        </div>
        </a>
        {% endfor %}
    </div>
    {% if page %}
    <div class="w-full flex mt-3">
        <div class="mx-auto flex flex-row">
            <div class="mx-2 p-2">
                <a class="text-red-700 hover:text-red-900" href="/entries?page={{ page - 1 }}">←</a>
            </div>
            <div class="mx-2 rounded shadow p-2">{{ page }}</div>
            <div class="mx-2 p-2">
                <a class="text-red-700 hover:text-red-900" href="/entries?page={{ page + 1 }}">→</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% include "foot.html" %}