{% include "head.html" %}
<div class="mt-5">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for entry in entries %}
        <a class="m-1" href="/entries/{{ entry[0] }}">
        <div class="h-full w-full shadow rounded p-2 pl-3 border-l-4 hover:shadow-lg transition">
            <p>{{ entry[1] }} <span class="font-thin">[{{ entry[0] }}]</span></p>
        </div>
        </a>
        {% endfor %}
    </div>
    {% if page %}
    <div class="w-full flex mt-3">
        <div class="mx-auto flex flex-row">
            <div class="mx-2 p-2">
                <a class="text-red-700 hover:text-red-900 underline" href="/entries?page={{ page - 1 }}">←</a>
            </div>
            <div class="mx-2 rounded shadow p-2">{{ page }}</div>
            <div class="mx-2 p-2">
                <a class="text-red-700 hover:text-red-900 underline" href="/entries?page={{ page + 1 }}">→</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% include "foot.html" %}