{% include "head.html" %}
<h1 class="text-4xl font-semibold">
    <a href="/languages/{{ entry.language.id }}" class="font-light">{{ entry.language.name }}</a> {{ entry.word }} <span class="muted font-thin">[{{ entry.id }}]</span>
</h1>
<div class="description">
    <p>{{ entry.gloss | safe }}</p>
    {% if entry.clades %}
    <div class="clades">
        {% for clade in order %}<div class="clade-block-lg" title="{{ clade }}"{% if clade in entry.clades %}style="background-color: #{{ colors[clade] }};"{% endif %}></div>{% endfor %}
    </div>
    {% endif %}
    {% if entry.notes %}
    <h3>Etymological notes</h3>
    <p>{{ entry.notes | markdown | safe }}</p>
    {% endif %}
</div>
<div class="map">
    <div class="rounded shadow" style="width: 100%; height: 500px;" id="map">
    </div>
</div>
<div class="tooltip-toggle">
    <input type="checkbox" id="show-tooltips" onchange="toggleTooltips()">
    <label for="show-tooltips">Show all tooltips</label>
</div>
<table>
    <thead>
        <tr class="grid-row">
            <th><input type="text" class="search-box lang-filter" placeholder="Language" value="{{ request.args.get('lang', '') }}"></th>
            <th><input type="text" class="search-box word-filter" placeholder="Word" value="{{ request.args.get('word', '') }}"></th>
            <th><input type="text" class="search-box gloss-filter" placeholder="Gloss" value="{{ request.args.get('gloss', '') }}"></th>
            <th><input type="text" class="search-box notes-filter" placeholder="Notes" value="{{ request.args.get('notes', '') }}"></th>
            <th><input type="text" class="search-box source-filter" placeholder="Source" value="{{ request.args.get('source', '') }}"></th>
        </tr>
    </thead>
    {% for group, cognateset in reflexes %}
    {% if group %}
    <tr>
        <td colspan=5><h2 class="font-thin">
            {% if ':' in group %}
            <small class="font-thin">[{{ group.split(':')[0] }}]</small> {{ ''.join(group.split(':')[1:]) | safe}}
            {% else %}
            {{ group | safe }}
            {% endif %}
        </h2></td>
    </tr>
    {% endif %}
    {% for lang, refs in cognateset %}
    <tbody class="grid-group" style="border-color: #{{ lang.color }}">
    {% for reflex in refs %}
    <tr class="grid-group-row">
        {% if loop.first %}
        <td>
            <p><a href="/languages/{{ lang.id }}">{{ reflex.language.name }}</a></p>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
            <p><a href="/reflexes/{{ reflex.id }}">{{ reflex.word }}</a>{% if reflex.phonemic %} <span class="muted">/&#8288;{{ reflex.phonemic }}&#8288;/</span>{% endif %}</p>
        </td>
        <td class="muted">
            <p>{% if reflex.gloss %} {{ reflex.gloss | safe}}{% endif %}</p>
        </td>
        <td class="muted">
            <p>{% if reflex.notes %}{{ reflex.notes | markdown | safe}}{% endif %}</p>
        </td>
        <td>
            <p>{{ reflex.references | join(', ') | safe }}</p>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
    {% endfor %}
</table>
<script>
var map = L.map('map').setView([20.5937, 78.9629], 4);

L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service',
	maxZoom: 8
}).addTo(map)
{% for lang, reflexes in grouped_langs.items() %}
var iconSvg = `{{ lang.to_map_marker() | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ lang.lat }}, {{ lang.long }}], {icon: icon}).bindTooltip("{% for reflex in reflexes %}{% if loop.index != 1 %}, {% endif %}{{ reflex.word | safe }}{% endfor %}").addTo(map)
{% endfor %}
function toggleTooltips() {
    var checkbox = document.getElementById("show-tooltips");
    if (checkbox.checked) {
        map.eachLayer(function(layer) {
            if (layer instanceof L.Marker) {
                layer.openTooltip();
            }
        });
    } else {
        map.eachLayer(function(layer) {
            if (layer instanceof L.Marker) {
                layer.closeTooltip();
            }
        });
    }
}
</script>
{% include "foot.html" %}