{% include "head.html" %}
<div>
    <div class="floater">
        <h2>Cite</h2>
        <p>Aryaman Arora, Adam Farris, Samopriya Basu, and Suresh Kolichala. 2021&ndash;2023. <em>Jambu</em>. Washington: Georgetown University.</p>
    </div>
    <h1>Welcome to <em>Jambu</em></h1>
    <p class="lead"><i>Jambu</i> is a modern online etymological dictionary of the South Asian languages.</p>
    <p>The <i>Jambu</i> project seeks to modernise and consolidate previous work on the historical and comparative lexicography of the South Asian languages&mdash;including the Indo-Aryan, Dravidian, Munda, and Sino-Tibetan language families. It is a spiritual continuation of the print dictionaries by Turner (<i>CDIAL</i>) and Burrow and Emeneau (<i>DEDR</i>), as well as the more recent online attempts at such a resource by the <a href="http://www.aa.tufs.ac.jp/sarva/">SARVA project</a> and <a href="http://kolichala.com/DEDR/">Suresh Kolichala's <i>DEDR</i> search interface</a>.</p>
    <p>A brief overview:
        <ul>
            <li><a href="/entries">Entries</a> is a list of headwords. Clicking on an entry gives a map, list of descendants/cognates, and the CDIAL headword line.</li>
            <li><a href="/reflexes">Reflexes</a> is the entire lexicon, including all entries in all languages. Each lemma includes a link to the source it was derived from, as well as assorted lexicographic information.</li>
            <li><a href="/languages">Languages</a> is all of included languages. Clicking a languages gives its lexicon.</li>
            <li><a href="/sources">Sources</a> is a list of references.</li>
        </ul>
    </p>
    <p><em>Jambu</em> is named for the Indian blackberry, i.e. <a class="text-red-700 hover:text-red-900" href="/entries/5131"><em>jambú</em> <span class="font-thin">[5131]</span></a> or <em>Syzygium cumini</em>. India was historically referred to as <a class="text-red-700 hover:text-red-900" href="/entries/5134"><em>jambudvīpa</em> <span class="font-thin">[5134]</span></a>.</p>
</div>
{% include "foot.html" %}