{% include "head.html" %}
<div>
    <div class="float-right mx-5 mb-5 bg-red-800 text-white shadow-lg rounded-md p-5 max-w-md">
        <h2 class="font-semibold text-2xl">Cite</h2>
        <p>Arora, Aryaman and Farris, Adam. 2021. <em>Jambu</em>. Washington: Georgetown University.</p>
    </div>
    <h1 class="font-semibold text-4xl">Welcome to <em>Jambu</em></h1>
    <p class="font-light text-xl mt-3"><strong>Jambu</strong> is an online etymological dictionary of Indo-Aryan languages, meant to be a modern continuation of Ralph Lilley Turner's <em>Comparative Dictionary of the Indo-Aryan Languages</em> augmented with new data.</p>
    <p class="mt-3">The app is currently in development mode (it's a bit rough around the edges!) but should be fully functional, and the entire CDIAL is incorprated (albeit with some issues due to transcription errors in its parsing at the University of Chicago).</p>
    <p class="mt-3">All credit for the data in this app goes to the creators, which each lexicon entry references. Some of this data is still in copyright; I do not intend to make money off of this, it's purely for use by linguistics researchers and language hobbyists, so please do not sue me.</p>
    <p class="mt-3"><em>Jambu</em> is named for the Indian blackberry, i.e. <a class="text-red-700 hover:text-red-900" href="/entries/5131"><em>jambú</em> <span class="font-thin">[5131]</span></a> or <em>Syzygium cumini</em>. India was historically referred to as <a class="text-red-700 hover:text-red-900" href="/entries/5134"><em>jambudvīpa</em> <span class="font-thin">[5134]</span></a>.</p>
</div>
<hr class="my-5">
<div>
    <h2 class="font-semibold text-2xl">Works included</h2>
    <ul class="list-disc list-inside">
        <li class="font-semibold">Ralph Lilley Turner. 1962–1966. <em>A comparative dictionary of the Indo-Aryan languages</em>. Oxford: Oxford University Press.</li>
        <li>Henrik Liljegren. 2019. <em>Palula dictionary</em>. Dictionaria. 1-2700. Jena: Max Planck Institute for the Science of Human History.</li>
        <li>Aryaman Arora and Ahmed Etebari. 2021. <em><a href="https://aryamanarora.github.io/kholosi/Kholosi_Dictionary.pdf">Kholosi Dictionary</a></em>.</li>
        <li>Hukam Chand Patyal. 1982. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies II). <em>Indo-Iranian Journal</em> 24. 289–294. Brill.</li>
        <li>Hukam Chand Patyal. 1991. Etymological notes on some Ḍogri words (Indo-Aryan Studies III). <em>Indo-Iranian Journal</em> 34. 123–124. Brill.</li>
        <li>Hukam Chand Patyal. 1983. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies IV). <em>Indo-Iranian Journal</em> 25. 41–49. Brill.</li>
        <li>Hukam Chand Patyal. 1984. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies V). <em>Indo-Iranian Journal</em> 27. 121–132. Brill.</li>
        <li>Hukam Chand Patyal. 1984. Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies V). <em>Indo-Iranian Journal</em> 27. 121–132. Brill.</li>
        <li>Richard F. Strand. 1997–2021. <em>Nuristân: Hidden Land of the Hindu-Kush</em>.</li>
        <li>Sonja Fritz. 2002. <em>The Dhivehi language: a descriptive and historical grammar of Maldivian and its dialects</em>.</li>
    </ul>
    <h3 class="font-semibold text-xl mt-2">Partial</h3>
    <ul class="list-disc list-inside">
        <li>Murli D. Bhawnani. 1979. <em>Descriptive analysis of Thari: A dialect of Sindhi language</em> (PhD thesis). Pune: Deccan College Post Graduate and Research Institute.</li>
    </ul>
    <h2 class="font-semibold text-2xl mt-2">Works to add</h2>
    <ul class="list-disc list-inside">
        <li>Matthew Toulmin. 2006. <em>Reconstructing linguistic history in a dialect continuum: The Kamta, Rajbanshi, and Northern Deshi Bangla subgroup of Indo-Aryan</em> (PhD thesis). Australian National University.</li>
        <li>Claus Peter Zoller. 2005. <em>A grammar and dictionary of Indus Kohistani</em>. Walter de Gruyter.</li>
    </ul>
</div>
{% include "foot.html" %}