{% include "head.html" %}
<div>
    <div class="floater">
        <h2>Cite</h2>
        <p>Arora, Aryaman and Farris, Adam. 2021. <em>Jambu</em>. Washington: Georgetown University.</p>
    </div>
    <h1>Welcome to <em>Jambu</em></h1>
    <p class="lead"><i>Jambu</i> is a modern online etymological dictionary of the South Asian languages.</p>
    <p>The <i>Jambu</i> project seeks to modernise and consolidate previous work on the historical and comparative lexicography of the South Asian languages&mdash;including the Indo-Aryan, Dravidian, Munda, and Sino-Tibetan language families. It is a spiritual continuation of the print dictionaries by Turner (<i>CDIAL</i>) and Burrow and Emeneau (<i>DEDR</i>), as well as the more recent online attempts at such a resource by the <a href="http://www.aa.tufs.ac.jp/sarva/">SARVA project</a> and <a href="http://kolichala.com/DEDR/">Suresh Kolichala's <i>DEDR</i> search interface</a>.</p>
    <p>A brief overview:
        <ul>
            <li><a href="parameters">Parameters</a> is a list of headwords. Clicking on an entry gives a map, list of descendants/cognates, and the CDIAL headword line.</li>
            <li><a href="values">Values</a> is the entire lexicon, including all entries in all languages. Each lemma includes a link to the source it was derived from, as well as assorted lexicographic information.</li>
            <li><a href="languages">Languages</a> is all of included languages. Clicking a languages gives its lexicon.</li>
            <li><a href="sources">Sources</a> is a list of references.</li>
        </ul>
    </p>
    <p><em>Jambu</em> is named for the Indian blackberry, i.e. <a class="text-red-700 hover:text-red-900" href="/entries/5131"><em>jambú</em> <span class="font-thin">[5131]</span></a> or <em>Syzygium cumini</em>. India was historically referred to as <a class="text-red-700 hover:text-red-900" href="/entries/5134"><em>jambudvīpa</em> <span class="font-thin">[5134]</span></a>.</p>
</div>
<hr class="my-5">
<div>
    <h2 class="font-semibold text-2xl">Works included</h2>
    <ul class="list-disc list-inside">
        <li class="font-semibold">Ralph Lilley Turner (1962–1966). <em>A comparative dictionary of the Indo-Aryan languages</em>. Oxford University Press.</li>
        <li>Henrik Liljegren (2019). <em>Palula dictionary</em>. Dictionaria. 1-2700. Max Planck Institute for the Science of Human History.</li>
        <li>Aryaman Arora and Ahmed Etebari (2021). <em><a href="https://aryamanarora.github.io/kholosi/Kholosi_Dictionary.pdf">Kholosi Dictionary</a></em>.</li>
        <li>Hukam Chand Patyal (1982). Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies II). <em>Indo-Iranian Journal</em> 24. 289–294. Brill.</li>
        <li>Hukam Chand Patyal (1991). Etymological notes on some Ḍogri words (Indo-Aryan Studies III). <em>Indo-Iranian Journal</em> 34. 123–124. Brill.</li>
        <li>Hukam Chand Patyal (1983). Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies IV). <em>Indo-Iranian Journal</em> 25. 41–49. Brill.</li>
        <li>Hukam Chand Patyal (1984). Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies V). <em>Indo-Iranian Journal</em> 27. 121–132. Brill.</li>
        <li>Hukam Chand Patyal (1984). Etymological notes on some Maṇḍyāḷī words (Indo-Aryan Studies V). <em>Indo-Iranian Journal</em> 27. 121–132. Brill.</li>
        <li>Richard F. Strand (1997–2021). <em>Nuristân: Hidden Land of the Hindu-Kush</em>.</li>
        <li>Sonja Fritz (2002). <em>The Dhivehi language: a descriptive and historical grammar of Maldivian and its dialects</em>.</li>
        <li>Thomas Jouanne (2014). <em>A preliminary analysis of the phonological system of the Western Pahārī language of Kvār</em> (PhD thesis). University of Oslo.</li>
    </ul>
    <h3 class="font-semibold text-xl mt-2">Partial</h3>
    <ul class="list-disc list-inside">
        <li>Murli D. Bhawnani. 1979. <em>Descriptive analysis of Thari: A dialect of Sindhi language</em> (PhD thesis). Deccan College Post Graduate and Research Institute.</li>
    </ul>
    <h2 class="font-semibold text-2xl mt-2">Works to add</h2>
    <ul class="list-disc list-inside">
        <li>Matthew Toulmin. 2006. <em>Reconstructing linguistic history in a dialect continuum: The Kamta, Rajbanshi, and Northern Deshi Bangla subgroup of Indo-Aryan</em> (PhD thesis). Australian National University.</li>
        <li>Claus Peter Zoller. 2005. <em>A grammar and dictionary of Indus Kohistani</em>. Walter de Gruyter.</li>
    </ul>
</div>
{% include "foot.html" %}