{% include "head.html" %}
<h1 class="text-4xl">
    <a class="text-red-700 hover:text-red-900" href="/languages/{{ reflex.language.id }}">{{ reflex.language.name }}</a> <span>{{ reflex.word }}</span> <span class="font-thin">[{{ reflex.id }}]</span>
</h1>
<div class="lang-box">
    <div class="grid" style="margin-top: 0; width: 50%;">
        <div class="grid-row">
            <p>Reflex</p>
            <p>{{ reflex.word }}</p>
        </div>
        <div class="grid-row">
            <p>Language</p>
            <p><a href="/languages/{{reflex.language.id}}">{{ reflex.language.name }}</a></p>
        </div>
        <div class="grid-row">
            <p>Entry</p>
            {% if reflex.origin_lemma %}
            <p><a href="/entries/{{reflex.origin_lemma_id}}">{{ reflex.origin_lemma.word }} <span class="font-thin">[{{ reflex.origin_lemma_id }}]</span></a></p>
            {% else %}
            <p class="muted">&mdash;</p>
            {% endif %}
        </div>
        <div class="grid-row">
            <p>Pronunciation</p>
            {% if reflex.phonemic %}
            <p>/{{ reflex.phonemic }}/</p>
            {% else %}
            <p class="muted">&mdash;</p>
            {% endif %}
        </div>
        <div class="grid-row">
            <p>Gloss</p>
            {% if reflex.gloss %}
            <p>{{ reflex.gloss | safe }}</p>
            {% else %}
            <p class="muted">&mdash;</p>
            {% endif %}
        </div>
        <div class="grid-row">
            <p>Native</p>
            {% if reflex.native %}
            <p>{{ reflex.native }}</p>
            {% else %}
            <p class="muted">&mdash;</p>
            {% endif %}
        </div>
        <div class="grid-row">
            <p>Notes</p>
            {% if reflex.notes %}
            <p>{{ reflex.notes | markdown | safe }}</p>
            {% else %}
            <p class="muted">&mdash;</p>
            {% endif %}
        </div>
        <div class="grid-row">
            <p>References</p>
            {% if reflex.references %}
            <p>{{ reflex.references | join(', ') | safe }}</p>
            {% else %}
            <p class="muted">&mdash;</p>
            {% endif %}
        </div>
    </div>
    <div style="width: 25%;"></div>
    <div style="width: 25%;">
        <div class="rounded shadow" style="width: 100%; height: 300px;" id="map">
        </div>
    </div>
</div>
<script>
var map = L.map('map').setView([{{ reflex.language.lat }}, {{ reflex.language.long }}], 3);

L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service',
    maxZoom: 8
}).addTo(map)
var iconSvg = `{{ reflex.language.to_map_marker() | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ reflex.language.lat }}, {{ reflex.language.long }}], {icon: icon}).bindTooltip("<strong>{{ reflex.language.name }}</strong>").openTooltip().addTo(map)
</script>
{% include "foot.html" %}