{% include "head.html" %}
<h1 class="text-4xl">
    <span class="font-semibold">{% if lang %}{% if entry %}<a class="text-red-700 hover:text-red-900" href="/languages/{{ lang.id }}">{% endif %}{{ lang.name }}{% if entry %}</a>{% else %} <span class="font-thin">[{{ lang.id }}]</span>{% endif %}{% else %}Reflexes{% endif %}</span>
    {% if entry %} <a class="text-red-700 hover:text-red-900 font-thin" href="/entries/{{ entry }}" class="font-light">[{{ entry }}]</a>{% endif %}
</h1>
{% if lang %}
<div class="lang-box">
    <div style="width: 50%;">
        <div class="grid" style="margin-top: 0;">
            <div class="grid-row">
                <p>Family</p>
                <p>{{ lang.clade }}</p>
            </div>
            <div class="grid-row">
                <p>Glottolog</p>
                <p><a href="https://glottolog.org/resource/languoid/id/{{ lang.glottocode }}">{{ lang.glottocode }}</a></p>
            </div>
            <div class="grid-row">
                <p>Coordinates</p>
                <p>{{ lang.lat }}, {{ lang.long }}</p>
            </div>
            <div class="grid-row">
                <p>Reflexes</p>
                <p>{{ lang.lemma_count }}</p>
            </div>
        </div>
    </div>
    <div style="width: 25%;"></div>
    <div style="width: 25%;">
        <div class="rounded shadow" style="width: 100%; height: 250px;" id="map">
        </div>
    </div>
</div>
{% endif %}
<div class="mt-5">
    <table>
        {% for word in reflexes %}
        <tr class="grid-row" style="border-color: #{{ word.language.color }};">
            <td>{{ word.language.name }}</td>
            <td>
                <p><a href="/reflexes/{{ word.id }}">{{ word.word }}</a>{% if word.phonemic %} <span class="muted">/&#8288;{{ word.phonemic }}&#8288;/</span>{% endif %}{% if word.gloss %} <span class="muted">‘&#8288;{{ word.gloss | striptags }}&#8288;’</span>{% endif %}</p>
            </td>
            <td>
                {% if word.origin_lemma %}
                <p><a href="/entries/{{ word.origin_lemma.id }}">{{ word.origin_lemma.word }} <span class="font-thin">[{{ word.origin_lemma.language.name }}]</span></a></p>
                {% endif %}
            </td>
            <td>
                <p></p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if page %}
<div class="w-full flex mt-3">
    <div class="mx-auto flex flex-row">
        <div class="mx-2 p-2">
            <a href="{{ request.path }}?page={{ page - 1 }}">←</a>
        </div>
        <div class="mx-2 rounded shadow p-2">{{ page }}</div>
        <div class="mx-2 p-2">
            <a href="{{ request.path }}?page={{ page + 1 }}">→</a>
        </div>
    </div>
</div>
{% endif %}
{% if lang %}
<script>
var map = L.map('map').setView([{{ lang.lat }}, {{ lang.long }}], 3);

L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service',
	maxZoom: 8
}).addTo(map)
var iconSvg = `{{ lang.to_map_marker() | safe }}`
var iconUrl = 'data:image/svg+xml;base64,' + btoa(iconSvg)
var icon = L.icon( {
            iconUrl: iconUrl,
            iconSize: [15, 15]
        } );
L.marker([{{ lang.lat }}, {{ lang.long }}], {icon: icon}).bindTooltip("<strong>{{ lang.name }}</strong>").openTooltip().addTo(map)
</script>
{% endif %}
{% include "foot.html" %}